.navbar, .card {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

nav {
  background-color: #9dd7ef;
}

nav * {
  text-transform: uppercase;
  word-spacing: 1px;
  color: white;
  padding: .25em;
}

nav *:hover {
  color: black;
}

section {
  margin: 1em;
  padding: 1em;
}

.card {
  background-color: #9dd7ef;
}

.card h1, h2, h3, h4, h5, h6, label {
  color: white;
}

#form {
  margin-top: 6em;
}
